<!DOCTYPE html>
<html>

<head>

    <!-- bootstrap -->
    <link href="../static/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- my stylesheets -->
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <link rel="stylesheet" type="text/css" href="../static/main_tutorial.css">
    <link rel="stylesheet" type="text/css" href="../static/ranking.css">

</head>

<body>

    <!-- header with question mark -->
    <div class="jumbotron"> <div class="container" style="padding:0"> <div class="row">
        <div class="col-sm-8" style="padding:0">
            <h1> RANKING </h1>
            <p> In each step, please <strong> rank </strong> the options from best (top) to worst (bottom) </p>
        </div>
        <div class="col-sm-4 tooltip" style="padding:0; height:auto; top:0; right:0; position:absolute;">
            <img style="height:80%;" src="../static/images/question_mark.png" />
            <span class="tooltiptext"> You prefer larger numbers over smaller numbers. Example: You like 8 more than 5. </span>
        </div>
    </div> </div> </div>


    <!-- rest of page (bootstrap container for rows) -->
    <div class="container-fluid">

        <!-- description of what to do -->
        <div class="row no-gutter">
            <p>
                Rank all items on the right side,
                by <strong>drag and drop</strong>: Click on one number, keep it clicked,
                and drag it over to the right shaded area. Release it
                when you want to place it.
                Once you're done,
                click the "submit" button on the right to continue.
                (If you're having trouble with the ranking, here's a video:
                <a href="https://youtu.be/Q9G_0Tz5ohE" target="_blank">youtu.be/Q9G_0Tz5ohE</a>
                )
            </p>
        </div>

        <!-- start sorting area -->
        <div class="row justify-content-md-center sorting-area">

            <!-- unranked numbers -->
            <div class="col-3" id="unranked-items" ondragenter="return dragEnter(event)" ondrop="return handleDrop(event)" ondragover="return dragOver(event)">
                {% for number in numbers_unranked %}
                    <div class="single-item number" id="{{number}}" draggable="true" ondragstart="return dragStart(event)" ondragend="return dragEnd(event)" ondragover="return dragOver(event)">
                        {{number}}
                    </div>
                {% endfor %}
            </div>

            <!-- ranked items -->
            <div class="col-6 col-ranking">
                <div class="row">
                    <div class="col-4" style="height:550px; margin-top:20px;">
                        <img style="left:100%" height="90%" src="../static/images/arrow_long.png" />
                    </div>
                    <div class="col-6" id="ranked-items" style="margin-top:20px; margin-bottom:20px;" ondragenter="return dragEnter(event)" ondrop="return handleDrop(event)" ondragover="return dragOver(event)">
                        {% for number in numbers_ranked %}
                            <div class="single-item number" id="{{number}}" draggable="true" ondragstart="return dragStart(event)" ondragend="return dragEnd(event)" ondragover="return dragOver(event)">
                                {{number}}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!-- submission button -->
            <div class="col-3" style="margin-top:220px;">
                <form id="subForm" action="../submit_ranking_tutorial" method="post" style="float:right;">
                    <!-- information we pass on when ranking is submitted -->
                    <input type="hidden" name="username" value="{{username}}">
                    <input type="hidden" name="number_counter" value="{{number_counter}}">

                    <input type="hidden" name="rankingResult" value="">

                    <!-- Next button -->
                    <image class="submit-button" src="../static/images/submit_button.png" onmouseover="this.src='../static/images/submit_button_hover.png'" onmouseout="this.src='../static/images/submit_button.png'" onclick="check_ranking()"></image>
                </form>
            </div>

        </div> <!-- end sorting areas -->

    <div id="hidingSpot" style="height:100px;">
        <div style="z-index:2; position:absolute; background-color:var(--light-red); width:100%; height:100px;"></div>
    </div>

    </div> <!-- end container for bootstrap rows -->


    <!-- javascript for drag&drop -->
    <script type="text/javascript" src="../static/ranking.js"></script>
    <script type="text/javascript" src="../static/main_tutorial.js"></script>


</body>
</html>